<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Solhee's blog</title>
  </head>

  <body>
    <div>
      <h1><a href="">Solhee's Blog</a></h1>
    </div>

    <div>
      <p>published: 12.04.2022</p>
      <h2><a href="">My first post</a></h2>
      <p>this is first post Minari is delicious yumyumyum</p>
    </div>

    <div>
      <p>published: 12.04.2022</p>
      <h2><a href="">My second post</a></h2>
      <p>Today is Tuesday Next Sunday is Easter. Everyone, Happy Easter!!!Happy Easter!!!Happy Easter!!!Happy Easter!!!Happy Easter!!!Happy Easter!!!Happy Easter!!!Happy Easter!!!Happy Easter!!!Happy Easter!!!Happy Easter!!!Happy Easter!!!Happy Easter!!!Happy Easter!!! </p>
    </div>
    <p>Hi there!</p>
    <p>It works!</p>
  </body>
</html>
